name: build-dlibs

on:
  push:
    tags:
      - 'fixtures-*'

jobs:
  build-elf:
    name: build ELF
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: build
        run: gcc fixtures/tests.c -shared -o elf.so

      - name: upload
        uses: actions/upload-artifact@v3
        with:
          name: elf.so
          path: elf.so
          if-no-files-found: error

  build-mach-o-binary:
    name: build Mach-O (binary)
    runs-on: macos-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: build
        run: clang -Wl,-undefined,dynamic_lookup fixtures/tests.c -shared -o mach-o-binary.dylib

      - name: upload
        uses: actions/upload-artifact@v3
        with:
          name: mach-o-binary.dylib
          path: mach-o-binary.dylib
          if-no-files-found: error

  build-pe:
    name: build PE
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: setup MSVC
        uses: ilammy/msvc-dev-cmd@v1

      - name: build
        run: cl.exe /std:c11 /D_USRDLL /D_WINDLL fixtures/tests.c /MT /link /FORCE:UNRESOLVED /DLL /OUT:pe.dll

      - name: show compiled files
        run: ls -l
        shell: bash

      - name: upload
        uses: actions/upload-artifact@v3
        with:
          name: pe.dll
          path: pe.dll
          if-no-files-found: error

  release:
    name: release
    needs: ['build-elf', 'build-mach-o-binary', 'build-pe']
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - uses: actions/download-artifact@v2
        with: { name: elf.so }

      - uses: actions/download-artifact@v2
        with: { name: mach-o-binary.dylib }

      - uses: actions/download-artifact@v2
        with: { name: pe.dll }

      - name: show artifacts
        run: ls -l

      - name: release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifactErrorsFailBuild: true
          artifacts: "elf.so,mach-o-binary.dylib,pe.dll"
          token: ${{ secrets.GITHUB_TOKEN }}
